.add-product-container {
  text-align: center;
  margin: 20px 0; /* Espacio debajo del botón */
}

.add-product-container button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-product-container button:hover {
  background-color: #218838;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 16px; /* Espacio entre los elementos */
    max-width: 1200px; /* Ancho máximo del contenedor */
    margin: 20px auto; /* Centrar el contenedor */
  }
  
  .product-item {
    border: 1px solid #ccc;
    padding: 16px;
    text-align: center;
    background-color: #fff; /* Fondo blanco para los elementos */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra para los elementos */
    border-radius: 8px; /* Bordes redondeados */
  }
  
  .product-item img {
    max-width: 100%; /* Asegurarse de que la imagen no se desborde */
    height: auto; /* Mantener la proporción de la imagen */
    margin-bottom: 8px; /* Espacio debajo de la imagen */
  }
  
  .product-item h3 {
    font-size: 1.2em;
    margin-bottom: 8px; /* Espacio debajo del título */
  }
  
  .product-item p {
    margin: 4px 0; /* Espacio entre los párrafos */
  }

  .product-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  
  .product-actions button {
    margin:0 5px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s, border-color 0.3s;
    border: none;
  }

  .buy-button {
    background-color: #28a745;
    border: 2px solid #28a745;
    color: white;
    width: 100%;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
  }
  
  .buy-button:hover {
    background-color: #218838;
    border-color: #218838;
  }

  .delete-button {
    background-color: red;
    color: 2px solid red;
    color: white;
    width: 40px;
    height: 40px;
  }

  .delete-button:hover {
    background-color: darkred;
    border-color: darkred;
  }
  
  .edit-button {
    background-color: blue;
    border: 2px solid blue;
    color:white;
    width: 40px;
    height: 40px;
  }

  .edit-button:hover {
    background-color: darkblue;
    border-color: darkblue;
  }