<div class="header">
  <button (click)="onLogout()" mat-button>Logout</button>
  <div class="user-section">
    <div *ngIf="!isAdmin">
      <a routerLink="/carrito" class="cart-link" style="text-decoration: none;">
        <button mat-button class="cart-button">
          <mat-icon>shopping_cart</mat-icon> Ver Carrito
        </button>
      </a>
    </div>
    <div class="user-info">
      <mat-icon class="profile-icon">account_circle</mat-icon>
      <span class="user-name">{{ user }}</span>
    </div>
  </div>
</div>
<mat-tab-group>
  <mat-tab label="Productos">
    <app-products></app-products>
  </mat-tab>
  <mat-tab label="Ventas">
    <app-sales></app-sales>
  </mat-tab>
  <!-- <mat-tab label="Historial de Sesiones">
    <producto-card></producto-card>
  </mat-tab> -->
</mat-tab-group>
<div class="content">
  <router-outlet></router-outlet>
</div>